.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown p {
  @apply text-xl font-semibold text-gray-100;
}

@screen md {
  .markdown p {
    @apply text-justify;
  }
}

.markdown a {
  @apply text-blue-500 underline;
}

.markdown h2 {
  @apply mt-12 mb-4 text-3xl leading-snug;
}

.markdown h3 {
  @apply mt-8 mb-4 text-2xl leading-snug;
}
